<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>employeeservlet</servlet-name>
        <servlet-class>com.controller.employeeservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>indexservlet</servlet-name>
        <servlet-class>com.controller.indexservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>contractorservlet</servlet-name>
        <servlet-class>com.controller.contractorservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Frmentry</servlet-name>
        <servlet-class>com.controller.Frmentry</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Entryservlet</servlet-name>
        <servlet-class>com.controller.Entryservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>reportServlet</servlet-name>
        <servlet-class>com.controller.reportServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HalfYearly</servlet-name>
        <servlet-class>com.controller.HalfYearly</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>dropdownServlet</servlet-name>
        <servlet-class>com.controller.dropdownServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>employeeservlet</servlet-name>
        <url-pattern>/employeeservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>indexservlet</servlet-name>
        <url-pattern>/indexservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>contractorservlet</servlet-name>
        <url-pattern>/contractorservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Frmentry</servlet-name>
        <url-pattern>/Frmentry</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Entryservlet</servlet-name>
        <url-pattern>/Entryservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>reportServlet</servlet-name>
        <url-pattern>/reportServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HalfYearly</servlet-name>
        <url-pattern>/HalfYearly</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dropdownServlet</servlet-name>
        <url-pattern>/dropdownServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
